h1 {
  color: #FCA205;
  text-align: center;
}

header {
  background-color: #FCA205;
}

.enlace {
  background-color: #e4dcdc;
  text-align: center;
}

.regresar {
  text-align: center;
}

.subtitulos {
  background-color: #504f4f;
  text-align: center;
}

.fondo2 {
  background-color: #b6acac;
  text-align: center;
}
