* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin-left: 0;
  margin-right: 0;
  font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

h1 {
  color: #FCA205;
  text-align: center;
}

.centrarCaja1 {
  width: 90%;
  position: absolute;
  top: 200px;
  left: 5%;
  right: 5%;
}

.centrarCaja2 {
  width: auto;
  position: relative;
  /* top: 5%;
  bottom: 5%;
  left: 3%;
  right: 3%; */
}

.enlace {
  background-color: #e4dcdc;
  text-align: center;
}

.regresar {
  text-align: center;
}

.subtitulos {
  background-color: #504f4f;
  text-align: center;
}

.fondo2 {
  background-color: #b6acac;
  text-align: center;
}

.color1 {
  background-color: #40cb9d;
}
