
{% extends 'base.html' %}

{% block contenido %}
<div class="container align-items-center">
  <div class="row inline">
    <!-- Div que contiene el titulo -->
    <div class="col-lg-12 col-md-12 col-12"> <h1>  OVA IPOO </h1></div>
  </div>
  <!-- Cada div represemta un OVA o tema del Curso NOTA: Luego se deben crear mediante un <script> -->
  <div class="row inline align-items-center">
    <div class="col-lg-12 col-md-12 col">
      <!-- Tema 1 -->
      <a>
        <!-- Enlace al OVA -->
        <div class="row inline-block">
          <!-- Contenedor de los OVAS -->
          <div></div><!-- Imagen de los OVAS -->
          <div>
            <h1> Introducción </h1>
          </div><!-- Titulo del tema(texto) -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col">
      <!-- Tema 2 -->
      <a>
        <!-- Enlace al OVA -->
        <div class="row inline-block">
          <!-- Contenedor de los OVAS -->
          <div></div><!-- Imagen de los OVAS -->
          <div>
            <h1> Lección  </h1>
          </div><!-- Titulo del tema(texto) -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col">
      <!-- Tema 3 -->
      <a>
        <!-- Enlace al OVA -->
        <div class="row inline-block">
          <!-- Contenedor de los OVAS -->
          <div></div><!-- Imagen de los OVAS -->
          <div>
            <h1> Actividades </h1>
          </div><!-- Titulo del tema(texto) -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col">
      <!-- Tema 4 -->
      <a>
        <!-- Enlace al OVA -->
        <div class="row inline-block">
          <!-- Contenedor de los OVAS -->
          <div></div><!-- Imagen de los OVAS -->
          <div>
            <h1> Resumen </h1>
          </div><!-- Titulo del tema(texto) -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col">
      <!-- Tema 4 -->
      <a>
        <!-- Enlace al OVA -->
        <div class="row inline-block">
          <!-- Contenedor de los OVAS -->
          <div></div><!-- Imagen de los OVAS -->
          <div>
            <h1> Evaluación </h1>
          </div><!-- Titulo del tema(texto) -->
        </div>
    </div>

  </div>
</div>
{% endblock %}
