<!DOCTYPE html>
{% load static %}
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title></title>
  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  
</head>

<header>
  {% block header %} {% endblock %}

</header>

<body>
  {% block contenido %} {% endblock %}

  {% bootstrap_javascript jquery='full' %}
</body>
<script src="{% static 'js/scripts.js' %}"></script>
</html>
