<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div>
    <div class="">
      <!-- Div que contiene el titulo -->
    </div>
    <!-- Cada div represemta un OVA o tema del Curso NOTA: Luego se deben crear mediante un <script> -->
    <div class="">
      <div>
        <!-- Tema 1 -->
        <a>
          <!-- Enlace al OVA -->
          <div class="">
            <!-- Contenedor de los OVAS -->
            <div></div><!-- Imagen de los OVAS -->
            <div></div><!-- Titulo del tema(texto) -->
          </div>
      </div>
      <div>
        <!-- Tema 2 -->
        <a>
          <!-- Enlace al OVA -->
          <div class="">
            <!-- Contenedor de los OVAS -->
            <div></div><!-- Imagen de los OVAS -->
            <div></div><!-- Titulo del tema(texto) -->
          </div>
      </div>
      <div>
        <!-- Tema 3 -->
        <a>
          <!-- Enlace al OVA -->
          <div class="">
            <!-- Contenedor de los OVAS -->
            <div></div><!-- Imagen de los OVAS -->
            <div></div><!-- Titulo del tema(texto) -->
          </div>
      </div>
      <div>
        <!-- Tema 4 -->
        <a>
          <!-- Enlace al OVA -->
          <div class="">
            <!-- Contenedor de los OVAS -->
            <div></div><!-- Imagen de los OVAS -->
            <div></div><!-- Titulo del tema(texto) -->
          </div>
      </div>

    </div>
  </div>
</body>

</html>
