{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<div class="container centrarCaja1">
  <!-- <div class="d-flex flex-now justify-content-center">
    <a href="#" class="btn btn-outline-info" role="button">Polimorfismo</a>
    <a href="#" class="btn btn-outline-info" role="button">Polimorfismo</a>
    <a href="#" class="btn btn-outline-info" role="button">Polimorfismo</a>
  </div> -->
  <div class="row">
    <div class="col-xl-4 col-lg-6 mb-4 ">
      <a href="ova">
        <div class="bg-white div_tema p-5 shadow ">

          <h2 class="h5 font-weight-bold text-center mb-4">Tema N° 1</h2>
          <!-- Progress bar 1 -->
          <div class="progress mx-auto" data-value='80'>
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
            </div>
          </div>

          <!-- END -->

          <!-- Demo info -->
          <div class="row text-center mt-4 ">
            <div class="col-12 border-left border-right">
              <div class="h5 mb-0 text-gray">Polimorfismo</div>
            </div>
          </div>
          <!-- END -->
        </div>
      </a>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4 ">
      <a href="index">
        <div class="bg-white div_tema p-5 shadow">
          <h2 class="h5 font-weight-bold text-center mb-4">Tema N° 2</h2>

          <!-- Progress bar 1 -->
          <div class="progress mx-auto" data-value='80'>
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
            </div>
          </div>
          <!-- END -->

          <!-- Demo info -->
          <div class="row text-center mt-4">
            <div class="col-12 border-left border-right">
              <div class="h5 mb-0 text-gray">Punteros</div>
            </div>
          </div>
          <!-- END -->
        </div>
      </a>
    </div>

    <div class="col-xl-4 col-lg-6 mb-4 ">
      <a href="index">
        <div class="bg-white div_tema p-5 shadow">
          <h2 class="h5 font-weight-bold text-center mb-4">Tema N° 3</h2>

          <!-- Progress bar 1 -->
          <div class="progress mx-auto" data-value='80'>
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
            </div>
          </div>
          <!-- END -->

          <!-- Demo info -->
          <div class="row text-center mt-4">
            <div class="col-12 border-left border-right">
              <div class="h5 mb-0 text-gray">Estilo de programación</div>
            </div>
          </div>
          <!-- END -->
        </div>
      </a>
    </div>
  </div>

  {% endblock %}
