{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <!-- Div que contiene el titulo -->
  <div class="row subtitulos rounded d-block">
    <div class="col-lg-12 col-md-12 col-12">
      <h1> Lección X </h1>
    </div>
  </div>
  <!-- Cada div represemta un OVA o tema del Curso NOTA: Luego se deben crear mediante un <script> -->
  <div class="row d-block rounded">
    <div class="col-lg-12 col-md-12 col-12 rounded  enlace d-block">
      <span class="rounded-sm">
        <!-- Tema 1 -->
        <!--    <a hr >-->
        <!-- Enlace al OVA -->
        <div class="row justify-content-center d-block">
          <!-- Contenedor de los OVAS -->
          <div class="col-lg-12 col-md-12 col-12 d-block">
          </div><!-- Imagen de los OVAS -->
          <div class="col-lg-12 col-md-12 col-12 d-block">
            <h3> Introducción </h3>
          </div><!-- Titulo del tema(texto) -->
        </div>
      </span>
    </div>
    <div class="col-lg-12 col-md-12 col-12 rounded enlace d-block">
      <!-- Tema 2 -->
      <!--      <a> -->
      <!-- Enlace al OVA -->
      <div class="row justify-content-center d-block">
        <!-- Contenedor de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
        </div><!-- Imagen de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
          <h3> Lección </h3>
        </div><!-- Titulo del tema(texto) -->
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 rounded enlace d-block">
      <!-- Tema 3 -->
      <!--      <a> -->
      <!-- Enlace al OVA -->
      <div class="row justify-content-center d-block">
        <!-- Contenedor de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
        </div><!-- Imagen de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
          <h3> Actividades </h3>
        </div><!-- Titulo del tema(texto) -->
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 rounded enlace d-block">
      <!-- Tema 4 -->
      <!--      <a> -->
      <!-- Enlace al OVA -->
      <div class="row justify-content-center d-block">
        <!-- Contenedor de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
        </div><!-- Imagen de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
          <h3> Resumen </h3>
        </div><!-- Titulo del tema(texto) -->
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 rounded enlace d-block">
      <!-- Tema 4 -->
      <!--      <a> -->
      <!-- Enlace al OVA -->
      <div class="row d-inline-block">
        <!-- Contenedor de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block"></div><!-- Imagen de los OVAS -->
        <div class="col-lg-12 col-md-12 col-12 d-block">
          <h3> Evaluación </h3>
        </div><!-- Titulo del tema(texto) -->
      </div>
    </div>
  </div>
  <div class="row d-block regresar">
    <div class="col-lg-12 col-md-12 col-12 "><button type="button" class="btn btn-secondary ">Regresar</button></div>
  </div>
</div>
{% endblock %}
